<h2>Create a new drone</h2>

<form action="/drones/create" method="post" class="form">

  <label for="droneName" class="label">Name</label>
  <input id="droneName" name="name" type="text" value="Reaper" />

  <label for="dronePropellers" class="label">Propellers</label>
  <input id="dronePropellers" name="propellers" type="number" value="8" />

  <label for="droneMaxSpeed" class="label">Max speed</label>
  <input id="droneMaxSpped" name="maxSpeed" type="number" value="25" />

  <button>ok</button>
</form>